<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{static/easyui/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{static/easyui/themes/icon.css}">

    <script th:src="@{static/js/index.js}"></script>
    <script th:src="@{static/easyui/jquery.min.js}"></script>
    <script th:src="@{static/easyui/jquery.easyui.min.js}"></script>
    <script th:src="@{static/easyui/locale/easyui-lang-zh_CN.js}"></script>

</head>
<body>
    <table id="dg" style="width:400px;height:250px" data-options="fitColumns:true,singleSelect:true"></table>
</body>
</html>