<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.domain.mapper.UserMapper">
    <!--Sql串-->
    <sql id="select">
        Select * From spring.user
    </sql>

    <!--    查询全部Users-->
    <select id="findAll" resultType="com.example.demo.domain.entity.User">
        <include refid="select">

        </include>
    </select>

    <!--    通过uid获取单个User-->
    <select id="getOneByUid" parameterType="long" resultType="com.example.demo.domain.entity.User">
        <include refid="select">

        </include>
        Where uid = #{uid}
    </select>

    <!--    通过uid删除单个User-->
    <delete id="deleteOneByUid" parameterType="long">
        Delete From spring.user Where uid= #{uid}
    </delete>

    <!--通过uid修改User-->
    <update id="updateUserByUid" parameterType="com.example.demo.domain.entity.User">
        Update spring.user u
        <set>
            <if test="userName != null">u.username=#{userName,jdbcType=VARCHAR},</if>
            <if test="password != null">u.password=#{password,jdbcType=VARCHAR}</if>
        </set>
        Where u.uid=#{uid}
    </update>

    <insert id="insertNewUser" parameterType="com.example.demo.domain.entity.User">
        insert Into spring.user(username,password) value (
        <if test="userName != null">#{userName,jdbcType=VARCHAR},</if>
        <if test="password != null">#{password,jdbcType=VARCHAR}</if>
        )
    </insert>

    <!--    插入多Users-->
    <insert id="insertMultiUsers" parameterType="list">
        Insert Into spring.user (username,password) values
        <foreach collection="list" item="it" separator=",">
            (#{it.userName,jdbcType=VARCHAR},#{it.password,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <!--    通过多个uid删除多个Users-->
    <delete id="deleteMultiUsersByUid" parameterType="list">
        Delete From spring.user
        Where uid in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!--    批量更新Users-->
    <update id="updateMultiUser" parameterType="list">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            Update spring.user
            <set>
                <if test="item.userName != null">username=#{item.userName,jdbcType=VARCHAR},</if>
                <if test="item.password != null">password=#{item.password,jdbcType=VARCHAR}</if>
            </set>
            Where Uid=#{item.uid}
        </foreach>

    </update>


    <select id="getAllUerWithLimits" parameterType="long" resultType="com.example.demo.domain.entity.User">
        SELECT a.* FROM spring.user a, (select uid from spring.user LIMIT #{start},#{pageSize} ) b where a.uid=b.uid
    </select>

    <select id="counter" resultType="long" parameterType="string">
        select counter from spring.tablecounter where name=#{tableName}
    </select>
</mapper>